{% extends 'index.html' %}

{% block detail_content %}

    <div>

          <div class="row placeholders">

            <div class="container blog-list">
                <div class="col-sm-14 text-left">
                        <div class="">
                            <h2>{{ blog.title }}</h2>
                            <p>{{ blog.body | safe }}</p>
                            <p>{{ blog.posted }} - By {{ blog.author }}</p>
                        </div>
                </div>
            </div>
          </div>

    </div>

{% endblock %}