{% extends 'base.html' %}

{% block body %}
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://v3.bootcss.com/examples/dashboard/#">我的博客</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
    {% block detail_content %}
    {% endblock %}
    {% block list_content %}
    {% endblock %}
    </div>


<footer>

</footer>

</body>

{% endblock %}